html {
  height: auto;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
}

#mapCanvas {
  height: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
}

@media print {
  #mapCanvas {
    height: 950px;
  }
}